<!DOCTYPE html>
  <html lang="en">
  <head>
    <%- include('../partials/headnew.ejs') %>
  </head>
  <body class="">
    <div class="wrapper ">
      <%- include('../partials/sidebardoc.ejs') %>
      <div class="main-panel">
        <%- include('../partials/topbardoc.ejs') %>
        <div class="content">
           <div class="container-fluid">
             <div class="row">
               <div class="col-md-12">
                    <div class="col-md-12">
                       <div class="card">
                       <div class="card-header card-header-warning">
                          <h4 class="card-title">Patient List</h4>
                          <p class="card-category"> <i class="material-icons">access_time</i> updated  <script>
                             document.write(new Date())
                           </script> ago </p>
                       </div>
                       <div class="card-body table-responsive">
                          <table class="table table-hover">
                             <thead class="text-primary">
                             <th>ID</th>
                             <th>Name</th>
                             <th>Phone</th>
                             <th>Gender</th>
                             <th>Files</th>
                             <th>Chats</th>
                             </thead>
                             <tbody>
                                <% for (var record=0; record<records.length; record++){ %>
                             <tr>
                                <td><%= record %></td>
                                <td><%= record.name %></td>
                                <td><%= record.phone %></td>
                                <td><%= record.gender %></td>
                                <td>
                                   <form method="post" action="/view" >
                                      <input type="hidden" name="status" value="encrypted" />
                                      <button type="submit" rel="tooltip" type="submit" value="<%= record.username %>" name="name" title="List of File" class="btn btn-primary btn-link btn-sm text-primary">
                                         <i class="material-icons">folder_open</i>
                                      </button>
                                   </form>
                                </td>
                                <td>
                                   <form method="post" action="/getrasahistory" >
                                      <button type="submit" rel="tooltip" type="submit" value="<%= record.email %>" name="rasa" title="History of Chats" class="btn btn-primary btn-link btn-sm text-primary">
                                         <i class="material-icons">receipt_long</i>
                                      </button>
                                   </form>
                                </td>
                             </tr>
                             <% } %>
                             </tbody>
                          </table>
                       </div>
                       </div>
                    </div>
                 </div>
               </div>
              </div> 
           <%- include('../partials/footer.ejs') %>
        </div>
      </div> 
      <%- include('../partials/footerfiles.ejs') %>
    </body>
    
    </html>
  