<!DOCTYPE html>
  <html lang="en">
  <head>
    <%- include('../partials/headnew.ejs') %>
  </head>
  <body class="">
    <div class="wrapper ">
      <%- include('../partials/sidebardoc.ejs') %>
      <div class="main-panel">
        <%- include('../partials/topbardoc.ejs') %>
        <div class="content">
           <div class="container-fluid">
             <div class="row">
               <div class="col-md-12">
                    <div class="col-md-12">
                       <div class="card">
                       <div class="card-header card-header-warning">
                          <h4 class="card-title">Patient List</h4>
                          <p class="card-category"> <i class="material-icons">access_time</i> updated  <script>
                             document.write(new Date())
                           </script> ago </p>
                       </div>
                       <div class="card-body table-responsive">
                          <table class="table table-hover">
                             <thead class="text-primary">
                             <th>Patient ID</th>
                             <th>Username</th>
                             <th>Email</th>
                             <th>Files</th>
                             <th>Chats</th>
                             </thead>
                             <tbody>
                                <% Object.keys(records).forEach((record) =>{ %>
                             <tr>
                                <td><% record+1%></td>
                                <td><%= records[record].username %></td>
                                <td><%= records[record].email %></td>
                                <td>
                                   <form method="post" action="/doctor/prescribe" >
                                      <input type="hidden" name="value" value="<%= JSON.stringify(records[record].files) %>" />
                                      <button type="submit" rel="tooltip" name="fileURL" title="List of File" class="btn btn-danger btn-link btn-sm">
                                         <i class="material-icons">folder_open</i>
                                      </button>
                                   </form>
                                </td>
                                <td>
                                   <form method="post" action="/getrasahistory" >
                                      <button type="submit" rel="tooltip"  value="<%= records[record].username %>" name="rasa" title="History of Chats" class="btn btn-danger btn-link btn-sm">
                                         <i class="material-icons">receipt_long</i>
                                      </button>
                                   </form>
                                </td>
                             </tr>
                             <% }) %>
                             </tbody>
                          </table>
                       </div>
                       </div>
                    </div>
                 </div>
               </div>
              </div> 
           <%- include('../partials/footer.ejs') %>
        </div>
      </div> 
      <%- include('../partials/footerfiles.ejs') %>
    </body>
    
    </html>
  