<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebardoc.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbardoc.ejs') %>
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
                  <div class="col-md-12">
                     <div class="card">
                     <div class="card-header card-header-primary">
                        <h4 class="card-title">Chatbot History</h4>
                        <p class="card-category"> <i class="material-icons">access_time</i> updated  <script>
                           document.write(new Date())
                         </script> ago </p>
                     </div>
                     <div class="card-body table-responsive">
                        <table class="table table-hover">
                           <thead class="text-warning">
                           <th>Time</th>
                           <th>Intent</th>
                           <th>Entities</th>
                           <th>Reply Time</th>
                           <th>Reply</th>
                           </thead>
                           <tbody>
                              <% for (var d=0; d<doc.length; d++){ %>
                           <tr>
                              <td> <%= doc[d].message_time %></td>
                              <td> <%= doc[d].intent %></td>
                              <td>
                                <% if (doc[d].entities.length > 0) { %>
                                    <% for (var i=0; i<doc[d].entities.length; i++){ %>
                                         <%= doc[d].entities[i] %></br>
                                        <% } %>
                                            <% } %>
                              </td>
                              <td> <%= doc[d].reply_time %></td>
                              <td> <%= doc[d].reply %></td>
                           </tr>
                           <% } %>
                           </tbody>
                        </table>
                     </div>
                     </div>
                  </div>
               </div>
             </div>
            </div> 
         <%- include('../partials/footer.ejs') %>
      </div>
    </div>      
    <%- include('../partials/footerfiles.ejs') %>
  </body>
</html>
  