<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebardoc.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbardoc.ejs') %>
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
                  <div class="col-md-12">
                     <div class="card">
                     <div class="card-header card-header-primary">
                        <h4 class="card-title">Files</h4>
                        <p class="card-category"> <i class="material-icons">access_time</i> updated  <script>
                           document.write(new Date())
                         </script> ago </p>
                     </div>
                     <div class="card-body table-responsive">
                        <table class="table table-hover">
                           <thead class="text-warning">
                           <th>ID</th>
                           <th>Description</th>
                           <th>View</th>
                           <th>Prescribe</th>
                           </thead>
                           <tbody>
                              <% for (var record=0; record<records.length; record++){ %>
                           <tr>
                              <td><%= record %></td>
                              <td><%= records[record].data.description %></td>
                              <td>
                                 <form method="post" action="/view">
                                    <input type="hidden" name="status" value="encrypted" />
                                    <button type="submit" rel="tooltip" type="submit" value="<%= records[record].data.file %>" name="fileURL" title="View File" class="btn btn-primary btn-link btn-sm text-primary">
                                       <i class="material-icons">folder_open</i>
                                    </button>
                                 </form>
                              </td>
                              <td>
                                    <button  type="button" 
                                    data-toggle="modal" data-target="#prescribelist" 
                                    rel="tooltip" title="Revoke Access" class="btn btn-danger btn-link btn-sm">
                                    <i class="material-icons">content_paste</i>
                                    </button> 
                                  <!-- Modal -->
                                    <div class="modal fade" id="prescribelist" tabindex="-1" role="dialog" aria-labelledby="prescribeTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="prescribeTitle">PRESCRIPTIONS</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <form method="POST" action="/addprescription">
                                            <input type="hidden" name="id" value="<%= record.id %>">
                                            <input type="hidden" name="description" value="<%= record.description %>">
                                            <input type="hidden" name="pkey" value="<%= record.pkey %>">
                                            <div class="modal-body" id="prescribe">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Message:</label>
                                                    <textarea class="form-control" name="prescription" id="message-text"></textarea>
                                                </div>  
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                        </div>
                                        </div>
                                    </div>
                              </td>
                           </tr>
                           <% } %>
                           </tbody>
                        </table>
                     </div>
                     </div>
                  </div>
               </div>
             </div>
            </div> 
         <%- include('../partials/footer.ejs') %>
      </div>
    </div>
    <%- include('../partials/footerfiles.ejs') %>
  </body>
</html>
