<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebardoc.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbardoc.ejs') %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Profile</h4>
                  <p class="card-category">Complete your Profile</p>
                </div>
                <div class="card-body">
                  <form method="post" action="" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">First Name </label>
                            <input type="text" class="form-control" name="first">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Last Name</label>
                            <input type="text" class="form-control" name="last">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Email ID</label>
                            <input type="text" class="form-control" name="email">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Phone</label>
                            <input type="text" class="form-control" name="phone">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Gender</label><br>
                            <input type="radio" name="smoking" value="male">
                            <label for="male">Male</label><br>
                            <input type="radio" name="smoking" value="female">
                            <label for="female">Female</label><br>
                            <input type="radio" name="smoking" value="other">
                            <label for="other">Other</label><br>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Qualification</label>
                          <input type="text" class="form-control" name="qualification">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Specialization</label>
                          <input type="text" class="form-control" name="specialization">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Location</label>
                          <input type="text" class="form-control" name="location">
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="form-group">
                        <label class="bmd-label-floating">Profile Upload </label>
                      </div>
                      <input type="file" name="profileupload">
                    </div>
                    
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>
    
  <%- include('../partials/footerfiles.ejs') %>
</body>

</html>