<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebardoc.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbardoc.ejs') %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title"><%= record.name %></h4>
                </div>
                <div class="card-body">
                    <p><label class="text-warning">
                      EMAIL
                    </label> <br>
                    <label class="text-primary">
                        <%= record.email %>
                    </label></p>
                    <p><label class="text-warning">
                      SPECIALIZATION
                    </label> <br>
                    <label class="text-primary">
                        <%= record.specialization %>
                    </label></p>
                    <p><label class="text-warning">
                      QULAIFICATION
                    </label> <br>
                    <label class="text-primary">
                        <%= record.qualification %>
                    </label></p>
                    <p><label class="text-warning">
                      LOCATION
                    </label> <br>
                    <label class="text-primary">
                        <%= record.location %>
                    </label></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>
    
  <%- include('../partials/footerfiles.ejs') %>
</body>

</html>
