<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('partials/sidebar.ejs') %>
    <div class="main-panel">
      <%- include('partials/topbar.ejs') %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Medical Records</h4>
                  <p class="card-category">Complete your Medical Profile</p>
                </div>
                <div class="card-body">
                  <form method="post" action="/user/add">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Height </label>
                            <input type="text" class="form-control" name="height">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Weight</label>
                            <input type="text" class="form-control" name="weight">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Allergies</label>
                            <input type="text" class="form-control" name="allergies">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Symptoms</label>
                            <input type="text" class="form-control" name="symptoms">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Smoking</label><br>
                            <input type="radio" name="smoking" value="yes">
                            <label for="yes">Yes</label>
                            <input type="radio" name="smoking" value="no">
                            <label for="no">No</label><br>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Exercise</label><br>
                            <input type="radio" name="exercise" value="yes">
                            <label for="yes">Yes</label>
                            <input type="radio" name="exercise" value="no">
                            <label for="no">No</label><br>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">File Description</label>
                          <input type="text" class="form-control" name="d">
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="form-group">
                        <label class="bmd-label-floating">File Upload </label>
                      </div>
                      <input type="file" name="fileupload">
                    </div>
                    
                    <button type="submit" class="btn btn-primary pull-right">Add Record</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('partials/footer.ejs') %>
    </div>
  </div>
    
  <%- include('partials/footerfiles.ejs') %>
</body>

</html>