<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebar.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbar.ejs') %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title ">Doctor List</h4>
                  <p class="card-category"> List of Registered Doctors as of  <script>
                    document.write(new Date())
                  </script></p></p>
                </div>
                <div class="card-body table-responsive">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Specialization
                        </th>
                        <th>
                          Institute
                        </th>
                        <th>
                          Grant
                        </th>
                        <th>
                          Revoke
                        </th>
                        <th>
                          Prescription
                        </th>
                      </thead>
                      <tbody>
                        <% for (let doctor=0; doctor<doctors.length; doctor++){ %>
                        <tr>
                          <td>
                            <%= doctor + 1%>
                          </td>
                            <td>
                                <%= doctors[doctor].name %>
                            </td>
                            <td>
                                <%= doctors[doctor].email %>
                            </td>
                            <td>
                                <%= doctors[doctor].specialization %>
                            </td>
                            <td>
                                <%= doctors[doctor].institute %>
                            </td>
                            <td >
                                <form action="/user/access" method="post" id="grantform-<%= doctors[doctor].username %>">                                    
                                  <button  onclick="submitForm(this)" value="grantform-<%= doctors[doctor].username %>"
                                  data-toggle="modal" data-target="#grantform-modal-<%= doctors[doctor].username %>" 
                                  rel="tooltip" title="Grant Access" class="btn btn-danger btn-link btn-sm">
                                    <i class="material-icons">check</i>
                                  </button> 
                                </form>  
                                  <!-- Modal -->
                                <div class="modal fade" id="grantform-modal-<%= doctors[doctor].username %>" tabindex="-1" role="dialog" aria-labelledby="grantform-title-<%= doctors[doctor].username %>" aria-hidden="true">
                                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-primary" id="grantform-title-<%= doctors[doctor].username %>">DOCUMENT LIST<br>
                                        <p class="card-category "> <i class="material-icons">access_time</i> updated  <script>
                                          document.write(new Date())
                                        </script> ago </p></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <form method="post" action="/user/check">
                                      <div class="modal-body" id="grantform-div-<%= doctors[doctor].username %>" >
 
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <form action="/user/revoke" method="post" id="revokeform-<%= doctors[doctor].username %>">
                                  
                                    <button  onclick="submitForm(this)" value="revokeform-<%= doctors[doctor].username %>"
                                    data-toggle="modal" data-target="#revokeform-modal-<%= doctors[doctor].username %>" 
                                    rel="tooltip" title="Revoke Access" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">close</i>
                                    </button> 
                                </form>  
                                <!-- Modal -->
                                <div class="modal fade" id="revokeform-modal-<%= doctors[doctor].username %>" tabindex="-1" role="dialog" aria-labelledby="revokeform-title-<%= doctors[doctor].username %>" aria-hidden="true">
                                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-primary" id="revokeform-title-<%= doctors[doctor].username %>">DOCUMENT LIST<br>
                                          <p class="card-category "> <i class="material-icons">access_time</i> updated  <script>
                                            document.write(new Date())
                                          </script> ago </p></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <form method="post" action="/user/uncheck">
                                      <div class="modal-body" id="revokeform-div-<%= doctors[doctor].username %>">

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <form action="/user/prescription" method="post" id="prescribeform-<%= doctors[doctor].username %>">
                                    <button  onclick="submitForm(this)" value="prescribeform-<%= doctors[doctor].username %>"
                                    data-toggle="modal" data-target="#prescribeform-modal-<%= doctors[doctor].username %>" 
                                    rel="tooltip" title="Prescription" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">content_paste</i>
                                    </button> 
                                </form>  
                                <!-- Modal -->
                                <div class="modal fade" id="prescribeform-modal-<%= doctors[doctor].username %>" tabindex="-1" role="dialog" aria-labelledby="prescribeform-title-<%= doctors[doctor].username %>" aria-hidden="true">
                                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-primary" id="prescribeform-title-<%= doctors[doctor].username %>">PRESCRIPTIONS<br>
                                          <p class="card-category "> <i class="material-icons">access_time</i> updated  <script>
                                            document.write(new Date())
                                          </script> ago </p></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body" id="prescribeform-div-<%= doctors[doctor].username %>" >

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>
  <script>
    

    function makeModal(doctor,records, app){
      let inner = "";
      let table = "";
      const element = document.getElementById(app);
      const labelstart=`<div class=" table-responsive">
                                <table class="table table-hover">
                                  <thead class="text-primary">
                                    <th> Document ID </th>
                                    <th> Description </th>
                                    <th> File</th>
                                  </thead>
                                  <tbody>`
      const labelend = `</tbody>
                                </table>
                              </div>`
      for (let d=0; d<records.records.length; d++){ 
        const mainDiv = ` <tr>
                            <td>${d+1}</td>
                            <td>${records.records[d].data.description}</td>
                            <td>
                              <div class="form-check ">
                                <label class="form-check-label">
                                  <input class="form-check-input " type="checkbox" name="${d}" value="${records.records[d].id}" />
                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                    </span>
                                </label>
                              </div>
                            </td>
                          </tr>`
        inner +=  mainDiv
      }
        const input = `<input type="hidden" value="${doctor}" name="value" />`
        table = labelstart + inner + labelend
        table += input
        element.innerHTML = table 
        console.log(element)
    }

    function prescribeModal(doctor,records, app){
      let inner = "";
      let table = "";
      const element = document.getElementById(app);
      const labelstart=`<div class=" table-responsive">
                                <table class="table table-hover">
                                  <thead class="text-primary">
                                    <th> Prescription Number </th>
                                    <th> Prescription </th>
                                    <th> Description </th>
                                    <th> File</th>
                                  </thead>
                                  <tbody>`
      const labelend = `</tbody>
                                </table>
                              </div>`

      for (let d=0; d<records.records.length; d++){ 
        const mainDiv = ` <tr>
                            <td>${d+1}</td>
                            <td>${records.records[d].prescription}</td>
                            <td>${records.records[d].description}</td>
                            <td>
                                  <form method="post" action="/view">
                                        <input type="hidden" name="status" value="decrypted"> 
                                        <button  type="submit" rel="tooltip" title="File" class="btn btn-danger btn-link btn-sm" value="${records.records[d].file}" name="fileURL">
                                          <i class="material-icons">attachment</i>
                                        </button>
                                  </form>       
                            </td>
                          </tr>`
        inner +=  mainDiv
      }
        table = labelstart + inner + labelend
        element.innerHTML = table 
    }

  function submitForm(obj){
    const value = obj.value.split("-");
    const doctor = value[1];
    const action = value[0];
    let url = "";
    if (action === "grantform"){
      url = '/user/access'
    } else if (action === "revokeform"){
      url = "/user/revoke"
    } else if (action === "prescribeform"){
      url = "/user/prescription"
    } else {
      url = ""
    }
    document.getElementById(obj.value).onsubmit = async (event) => {
        event.preventDefault();
        const modalId = `${action}-modal-${doctor}`
        const divId = `${action}-div-${doctor}`
        const response = await fetch(url, {
          method: 'POST',
          headers: {
                'Content-Type': 'application/json'
              },
            body: JSON.stringify({ value: doctor})
        });
        const result = await response.json();
          makeModal(doctor, result, divId);
        
        document.getElementById(modalId).style.display = "block";
}
  }

   </script> 
  <%- include('../partials/footerfiles.ejs') %>
</body>

</html>