<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebar.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbar.ejs') %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Doctor List</h4>
                  <p class="card-category"> Here is a list of Doctors Available</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Name
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Specialization
                        </th>
                        <th>
                          Institute
                        </th>
                        <th>
                          Grant
                        </th>
                        <th>
                            Revoke
                        </th>
                        <th>
                            Prescription
                        </th>
                      </thead>
                      <tbody>
                        <% for (const doctor of doctors){ %>
                        <tr>
                            <td>
                                <%= doctor.name %>
                            </td>
                            <td>
                                <%= doctor.email %>
                            </td>
                            <td>
                                <%= doctor.specialization %>
                            </td>
                            <td>
                                <%= doctor.institute %>
                            </td>
                            <td >
                                <!-- <form action="/user/access" method="post">
                                    <button class="btn btn-primary " type="submit"  value="<%= doctor.username %>" name="value">
                                        <i class="material-icons">check</i>
                                    </button>
                                </form> -->
                                <i class="material-icons" data-toggle="modal" data-target="#grantlist">check</i>
                                <!-- Modal -->
                               <div class="modal fade" id="grantlist" tabindex="-1" role="dialog" aria-labelledby="grantlistTitle" aria-hidden="true">
                                 <div class="modal-dialog modal-lg" role="document">
                                   <div class="modal-content">
                                     <div class="modal-header">
                                       <h5 class="modal-title" id="grantlistTitle">List of Documents</h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                       </button>
                                     </div>
                                     <form method="post" action="/user/check">
                                     <div class="modal-body">
                                         <% for (var d=0; d<records.length; d++){ %>
                                           <label class="bmd-label-floating col-md-4">
                                             <%= d %> <%= records[d].data.description %>
                                           </label>  
                                           <input class="col-md-4 ml-auto" type="checkbox" name="<%= d %>" value="<%= records[d].data.description %>" /><br>
                                           <% } %>
                                     <input type="hidden" value="<%= doctor.username %>" name="value" />
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                       <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
                                     </div>
                                   </form>
                                   </div>
                                 </div>
                               </div>
                            </td>
                            <td>
                                <!-- <form action="/user/revoke" method="post">
                                    <button class="btn btn-primary " type="submit"  value="<%= doctor.username %>" name="value">
                                    <i class="material-icons">block</i>
                                    </button>
                                </form>                                  -->
                              <i class="material-icons" data-toggle="modal" data-target="#revokelist">cancel</i>
                                <!-- Modal -->
                               <div class="modal fade" id="revokelist" tabindex="-1" role="dialog" aria-labelledby="revokelistTitle" aria-hidden="true">
                                 <div class="modal-dialog modal-lg" role="document">
                                   <div class="modal-content">
                                     <div class="modal-header">
                                       <h5 class="modal-title" id="revokelistTitle">List of Documents</h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                       </button>
                                     </div>
                                     <form method="post" action="/user/uncheck">
                                     <div class="modal-body">
                                         <% for (var d=0; d<records.length; d++){ %>
                                           <label class="bmd-label-floating col-md-4">
                                             <%= d %> <%= records[d].data.description %>
                                           </label>  
                                           <input class="col-md-4 ml-auto" type="checkbox" name="<%= d %>" value="<%= records[d].data.description %>" /><br>
                                           <% } %>
                                     <input type="hidden" value="<%= doctor.username %>" name="value" />
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                       <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
                                     </div>
                                   </form>
                                   </div>
                                 </div>
                               </div>
                            </td>
                            <td>
                                <form action="/user/prescription" method="post">
                                    <button class="btn btn-primary " type="submit"  value="<%= doctor.username %>" name="value">
                                    <i class="material-icons">content_paste</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>
    
  <%- include('../partials/footerfiles.ejs') %>
</body>

</html>