<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebar.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbar.ejs') %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title ">Doctor List</h4>
                  <p class="card-category"> List of Registered Doctors as of  <script>
                    document.write(new Date())
                  </script></p></p>
                </div>
                <div class="card-body table-responsive">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Specialization
                        </th>
                        <th>
                          Institute
                        </th>
                        <th>
                          Grant
                        </th>
                        <th>
                            Revoke
                        </th>
                        <th>
                            Prescription
                        </th>
                      </thead>
                      <tbody>
                        <% for (var doctor=0; doctor<doctors.length; doctor++){ %>
                        <tr>
                          <td>
                            <%= doctor %>
                          </td>
                            <td>
                                <%= doctors[doctor].name %>
                            </td>
                            <td>
                                <%= doctors[doctor].email %>
                            </td>
                            <td>
                                <%= doctors[doctor].specialization %>
                            </td>
                            <td>
                                <%= doctors[doctor].institute %>
                            </td>
                            <td >
                                <form action="/user/access" method="post" id="grantform">
                                  <input type="hidden" value="<%= doctors[doctor].username %>" name="value" />
                                  <button  type="submit" 
                                  data-toggle="modal" data-target="#grantlist" 
                                  rel="tooltip" title="Revoke Access" class="btn btn-danger btn-link btn-sm">
                                    <i class="material-icons">check</i>
                                  </button> 
                                </form>  
                                  <!-- Modal -->
                                <div class="modal fade" id="grantlist" tabindex="-1" role="dialog" aria-labelledby="grantlistTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="grantlistTitle">DOCUMENT LIST</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <form method="post" action="/user/check">
                                      <div class="modal-body" id="grant">
                                          
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <form action="/user/revoke" method="post" id="revokeform">
                                  <input type="hidden" value="<%= doctors[doctor].username %>" name="value" />
                                    <button  type="submit" 
                                    data-toggle="modal" data-target="#revokelist" 
                                    rel="tooltip" title="Revoke Access" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">close</i>
                                    </button> 
                                </form>  
                                <!-- Modal -->
                                <div class="modal fade" id="revokelist" tabindex="-1" role="dialog" aria-labelledby="revokelistTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="revokelistTitle">DOCUMENT LIST</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <form method="post" action="/user/uncheck">
                                      <div class="modal-body" id="revoke"></div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <!-- <form action="/user/prescription" method="post">
                                    <button type="submit" rel="tooltip" value="<%= doctor.username %>" name="value" title="Prescription" class="btn btn-primary btn-link btn-sm text-warning">
                                      <i class="material-icons">content_paste</i>
                                    </button>
                                </form> -->
                                <form action="/user/prescription" method="post" id="prescribeform">
                                  <input type="hidden" value="<%= doctors[doctor].username %>" name="value" />
                                    <button  type="submit" 
                                    data-toggle="modal" data-target="#prescribelist" 
                                    rel="tooltip" title="Prescription" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">content_paste</i>
                                    </button> 
                                </form>  
                                <!-- Modal -->
                                <div class="modal fade" id="prescribelist" tabindex="-1" role="dialog" aria-labelledby="prescribeTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="prescribeTitle">PRESCRIPTIONS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body" id="prescribe">
                                          
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>
  <script>
    function makeModal(doctor,records, app){
      let inner = "";
      const element = document.getElementById(app);
      for (var d=0; d<records.records.length; d++){ 
        const rasa = `<label class="bmd-label-floating col-md-6"> Do you want to give Chat Access ? </label>
                        <div class="form-check col-md-4 ml-auto">
                                                          <label class="form-check-label">
                                                              <input class="form-check-input " id ="myCheck" type="checkbox" name="rasa"/>
                                                              <span class="form-check-sign">
                                                              <span class="check"></span>
                                                            </span>
                                                          </label>
                                                          </div><br>`
        const label = `<label class="bmd-label-floating col-md-6"> ${records.records[d].data.description}</label>`
        const mainDiv = `<div class="form-check col-md-4 ml-auto">
                                          <label class="form-check-label">
                                              <input class="form-check-input " type="checkbox" name="${d}" value="${records.records[d].id}" />
                                              <span class="form-check-sign">
                                              <span class="check"></span>
                                            </span>
                                          </label>
                                          </div><br>`;
        inner +=  rasa + label + mainDiv
      }
        const input = `<input type="hidden" value="${doctor}" name="value" />`
        inner += input
        element.innerHTML = inner 
    }
    function prescribeModal(doctor,records, app){
      let inner = "";
      const element = document.getElementById(app);
      for (var d=0; d<records.records.length; d++){ 
        const label = `<label class="bmd-label-floating col-md-4"> ${records.records[d].prescription}</label>`
        const mainDiv = `<div class="form-check col-md-4 ml-auto">
                                            <label class="form-check-label">
                                            <form method="post" action="/view">
                                              <input type="hidden" name="status" value="decrypted"> 
                                              <button  type="submit" rel="tooltip" title="File" class="btn btn-danger btn-link btn-sm" value="${records.records[d].file}" name="fileURL">
                                                <i class="material-icons">attachement</i>
                                              </button>
                                            </form>
                                            </label>
                                          </div><br>`;
        inner +=  label + mainDiv
      }
        const input = `<input type="hidden" value="${doctor}" name="value" />`
        inner += input
        element.innerHTML = inner 
    }

grantform.onsubmit = async(event) => {
  event.preventDefault();
  const doctor = new FormData(grantform).get("value");
  const response = await fetch('/user/access', {
    method: 'POST',
    headers: {
					'Content-Type': 'application/json'
				},
      body: JSON.stringify({ value: doctor})
  });
  const result = await response.json();
  makeModal(doctor, result, "grant");
  document.getElementById("grantlist").style.display = "block";
}

revokeform.onsubmit = async(event) => {
  event.preventDefault();
  const doctor = new FormData(grantform).get("value");
  const response = await fetch('/user/revoke', {
    method: 'POST',
    headers: {
					'Content-Type': 'application/json'
				},
      body: JSON.stringify({ value: doctor})
  });
  const result = await response.json();
  makeModal(doctor, result, "revoke")
  document.getElementById("revokelist").style.display = "block"
}

prescribeform.onsubmit = async(event) => {
  event.preventDefault();
  const doctor = new FormData(grantform).get("value");
  const response = await fetch('/user/prescription', {
    method: 'POST',
    headers: {
					'Content-Type': 'application/json'
				},
      body: JSON.stringify({ value: doctor})
  });
  const result = await response.json();
  prescribeModal(doctor, result, "prescribe")
  document.getElementById("prescribelist").style.display = "block"
}

document.getElementById('myCheck').onclick = function() {
    // access properties using this keyword
    if ( this.checked ) {
        // if checked ...
        document.getElementById("myCheck").value = "True"
    } else {
        // if not checked ...
        document.getElementById("myCheck").value = "False"
    }
};
   </script> 
  <%- include('../partials/footerfiles.ejs') %>
</body>

</html>