<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebar.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbar.ejs') %>
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">

      <% for (const record of records){ %>
      <div class="card expanded large">
         <div class="card-header">
           <span class="card-title">Card Title</span>
           <i class="close material-icons">X</i>
         </div>
         <div class="card-content">
           <p><%= record.data.description %></p>
         </div>
         <div class="card-action">
            <form method="post" action="/view">
               <input type="hidden" name="status" value="encrypted" />
               <button
                  class="btn btn--radius-2 btn--blue"
                  type="submit"
                  style="float: right; margin-bottom: 10px"
                  value="<%= record.data.file %>"
                  name="fileURL"
               >
                  view
               </button>
            </form>
         </div>
         <div class="card-action">
            <form method="post" action="/user/assethistory">
               <button
                  class="btn btn--radius-2 btn--blue"
                  type="submit"
                  style="float: right; margin-bottom: 10px; margin-right: 10px"
                  value="<%= record.id %>"
                  name="history"
               >
                  history
               </button>
            </form>
         </div>
           
         </div>
         <% } %>
             </div>
             </div>
             </div>
             
         <%- include('../partials/footer.ejs') %>
      </div>
    </div>
      
    <%- include('../partials/footerfiles.ejs') %>
  </body>
  
  </html>
