<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headnew.ejs') %>
</head>
<body class="">
  <div class="wrapper ">
    <%- include('../partials/sidebar.ejs') %>
    <div class="main-panel">
      <%- include('../partials/topbar.ejs') %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title"><%= data.name %></h4>
                </div>
                <div class="card-body">
                    <p><label class=" text-primary">
                      PHONE
                    </label> <br>
                    <label class=" text-warning">
                      <%= data.phone %>
                    </label></p>
                    <p><label class="text-primary">
                      EMAIL
                    </label> <br>
                    <label class="text-warning">
                      <%= data.email %>
                    </label></p>
                    <p><label class="text-primary">
                      GENDER
                    </label> <br>
                    <label class="text-warning">
                      <%= data.gender %>
                    </label></p>
                    <p><label class="text-primary">
                      BIGCHAIN KEY
                    </label> <br>
                    <label class="text-warning">
                      <%= data.bigchainKey %>
                    </label></p>
                    <p><label class="text-primary">
                      JOINING
                    </label> <br>
                    <label class="text-warning">
                      <%= data.date %>
                    </label></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>
    
  <%- include('../partials/footerfiles.ejs') %>
</body>

</html>